################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DanielMarques.Utilities/v15/Server/sqlite3
